body {
    /* background: #bd001f url('../images/body_bg.gif') repeat-x top; */
    background-image: linear-gradient(rgb(0, 153, 255), rgb(226, 226, 208) );
    font-family: Microsoft JhengHei;
    font-size: 16px;
    color: rgb(189, 58, 58);
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px;
}
p{
    color: #fff;
}